<!DOCTYPE html>
<html ng-app="GraphAlgVisualizer">
<head lang="en">
    <meta charset="UTF-8">
    <title>blah</title>

    <link rel="stylesheet" href="libraries/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="libraries/codemirror.min.css">
    <link rel="stylesheet" href="codeMirrorTheme.css">

    <script src="libraries/codemirror.min.js"></script>
    <script src="libraries/codemirror.javascript.min.js"></script>
    <script src="libraries/codemirror.diff.min.js"></script>

    <script src="libraries/Chart.min.js"></script> <!-- TODO: Switch to AMD loaded module -->

    <script src="libraries/angular.min.js"></script>
    <script src="libraries/diff_match_patch.js"></script>
    <script data-main="main" src="libraries/require.min.js"></script>

</head>
<body ng-controller="Controller as ctrl" style="background-color: #333333">

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger"  ng-click="ctrl.system_reset()">Reset it! Reset it all! Mwa ha! MUA HA HA!</button>
    </div>

    <br />

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger"  ng-click="ctrl.editor_reset()">Reset Editor</button>
        <button type="button" class="btn btn-info"    ng-click="ctrl.editor_clear()">Clear Editor</button>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <!--<button class="btn btn-default" type="button" ng-click="ctrl.editor_findNext(ctrl.searchField)">Find next</button>-->
                </span>
                <input type="text" class="form-control" placeholder="Search for..." ng-model="ctrl.searchField">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ctrl.editor_searchAndReplaceAll(ctrl.searchField, ctrl.replaceField)">Replace all with:</button>
                </span>
                <input type="text" class="form-control" placeholder="Enter new text" ng-model="ctrl.replaceField">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div>Size of Editor Text ({{ctrl.sizeEditorText}} B)</div>

    <div id="editorDiv"></div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger"  ng-click="ctrl.deltaLog_reset            ()">Reset Log</button>
        <button type="button" class="btn btn-info"    ng-click="ctrl.deltaLog_calculate        ()">Calculate new deltas</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.deltaLog_sendToServer     ()">Send to server</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.deltaLog_receiveFromServer()">Receive from server</button>
        <button type="button" class="btn btn-warning" ng-click="ctrl.deltaLog_generateRandDelta()">Randomize Delta</button>
    </div>

    <br />

    <div>
        <div style="float:left; width:33%;" class="deltaLogDiv">Deltas for plain text ({{ctrl.sizePlainText}} B)</div>
        <div style="float:left; width:33%;" class="deltaLogDiv">Deltas for search-and-replace ({{ctrl.sizeSearchAndReplace}} B)</div>
        <div style="float:left; width:33%;" class="deltaLogDiv">Deltas for both algebraically combined ({{ctrl.sizeADT}} B)</div>
    </div>

    <br />

    <div style="float:left">
        <canvas id="leftChart" width="400" height="400"></canvas>
        <canvas id="rightChart" width="400" height="400"></canvas>
    </div>

</body>
</html>